@if(weather$ | async; as weather) {
<div class="card">
  <div
    class="text-3xl md:text-4xl font-semibold text-center w-full overflow-x-auto overflow-y-clip pb-2"
  >
    {{ weather.location.name }}
  </div>
  <p class="dark:text-gray-400">
    {{ weather.location.localtime | date : "short" : "en-US" }}
  </p>
  <img
    class="size-16 m-4"
    [src]="weather.current.condition.icon | upscaleImage"
  />
  <div class="mb-2 text-3xl md:text-4xl font-semibold">
    {{ weather.current.temp_c }}°
  </div>
  <p class="dark:text-gray-400">
    {{ weather.current.condition.text }}
  </p>
</div>
} @else { @if(errorMessage$ | async; as errorMessage) {
<error-card [errorMessage]="errorMessage" />
} @else {
<loading-card />
} }
