@if(weather$ | async; as weather) {
<div class="card">
  <div
    class="text-3xl md:text-4xl font-semibold text-center w-full overflow-x-auto overflow-y-clip pb-2"
  >
    {{ weather.location.name }}
  </div>
  <p class="dark:text-gray-400">
    {{ weather.location.localtime | date : "short" : "en-US" }}
  </p>
  <img class="size-16 m-4" [src]="weather.current.condition.icon" />
  <div class="mb-2 text-3xl md:text-4xl font-semibold">
    {{ weather.current.temp_c }}°
  </div>
  <p class="dark:text-gray-400">
    {{ weather.current.condition.text }}
  </p>
</div>
} @else { @if(errorMessage$ | async; as errorMessage) {
<div class="card-error">
  <div class="mb-5 text-3xl md:text-4xl font-semibold text-red-700">
    Oops...
  </div>
  <p class="dark:text-gray-400">
    {{ errorMessage }}
  </p>
</div>
} @else {
<div class="card">
  <div class="animate-pulse flex flex-col items-center">
    <div
      class="text-3xl md:text-4xl font-semibold mb-2 text-transparent pulse-text-block select-none"
    >
      _
    </div>
    <p class="text-transparent pulse-text-block select-none">_</p>
    <div class="size-16 bg-gray-200 rounded-full dark:bg-gray-700 m-4"></div>
    <div
      class="text-3xl md:text-4xl font-semibold mb-2 text-transparent pulse-text-block select-none"
    >
      _
    </div>
    <p class="text-transparent pulse-text-block select-none">_</p>
  </div>
</div>
} }
