@if(weather$ | async; as weather) {
<div
  class="flex flex-col items-center w-64 md:w-80 p-6 bg-white border-2 border-emerald-600 rounded-md shadow dark:bg-gray-800 dark:border-teal-800"
>
  <div class="text-center">
    <h2 class="text-3xl md:text-4xl font-semibold">
      {{ weather.location.name }}
    </h2>
    <p class="text-base md:text-md dark:text-gray-400">
      {{ weather.location.localtime | date : "short" : "en-US" }}
    </p>
  </div>
  <img class="w-16 h-16 m-4" [src]="weather.current.condition.icon" />
  <div class="mb-2 text-3xl font-semibold md:text-4xl">
    {{ weather.current.temp_c }}°
  </div>
  <p class="dark:text-gray-400 text-base md:text-md">
    {{ weather.current.condition.text }}
  </p>
</div>
} @else {
<!-- TODO -->
}
