<div class="card">
  <div class="animate-pulse flex flex-col items-center">
    <div
      class="text-3xl md:text-4xl font-semibold mb-2 text-transparent pulse-text-block select-none"
    >
      _
    </div>
    <p class="text-transparent pulse-text-block select-none">_</p>
    <div class="size-16 bg-gray-200 rounded-full dark:bg-gray-700 m-4"></div>
    <div
      class="text-3xl md:text-4xl font-semibold mb-2 text-transparent pulse-text-block select-none"
    >
      _
    </div>
    <p class="text-transparent pulse-text-block select-none">_</p>
  </div>
</div>
