@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn-darkmode {
  @apply absolute top-5 right-5 w-16 h-12 sm:w-20 bg-neutral-900 dark:bg-gray-100 rounded-full text-gray-100 dark:text-black font-semibold shadow;
}

.btn-darkmode:hover {
  @apply bg-opacity-60;
}

.card {
  @apply flex flex-col items-center justify-center w-64 sm:w-80 p-6 bg-white border-2 rounded-md shadow;
}

.card-weather,
.card-add {
  @apply card border-emerald-600  dark:bg-gray-800 dark:border-teal-600;
}

.card-error {
  @apply card border-red-600  dark:bg-gray-800;
}

.pulse-text-block {
  @apply bg-gray-200 rounded-full dark:bg-gray-700 w-full;
}

.x-button {
  @apply absolute top-1 right-1 rounded-bl-md size-9;
}
